<!-- <form>
  <div class="form-group mt-3">
    <input type="file" class="arquivo1" id="arquivo1" placeholder="XML" #cpf>
  </div>
  <button type="submit" class="buttomArquivo btn btn-primary" value="cadastrar">Submit</button>
</form> -->

<div class="container"> 
  <h2>Salvar Cliente</h2>
  <form>
      <div class="form-group">
          <label for="nome">Nome</label>
          <!-- <input type="text" class="form-control" placeholder="Informe o nome" name="nome"
          [ngModel]="cpf"> -->
      </div>
      <button type="submit" class="btn btn-success" (ngSubmit)="cadastrar()">Salvar</button>
  </form>
  </div>